/*compile style.css*/
@import "main"
@import "variables"
@import "mixins"
.main
  overflow: auto
  .left-content
    z-index: 0
    width: 33%
    transition: width .5s linear
    display: flex
    justify-content: space-around
    flex-direction: column
    min-width: 275px
    background: #f6f6f6
    height: 100vh
    overflow-y: auto
    //----------------------------brakpoints
    @include smallH
      height: 100%
    @include tablet
      width: 50%
    @include xsTablet
      width: 100%
      height: 100%
    @include phone
      width: 100%
      height: 100%
    //------------------------hide aside scrollbars in vebkit and ms
    &::-webkit-scrollbar
      display: none
    -ms-overflow-style: none
    .holder
      padding-top: $mainpadding
      margin-bottom: $mainpadding
      display: flex
      align-items: center
      margin: 0 auto
      flex-direction: column
      flex-shrink: 0
      max-width: 260px
      min-height: 300px
      .profile
        max-width: 200px
        max-height: 200px
      .name
        padding-top: $mainpadding
        padding-bottom: $mainpadding * 2
      @include bigText
      .email
        line-height: 13px
        color: $accentColor
        font:
            weight: 300
            size: 120%
      .social
        flex-direction: row
        max-width: 60%
        padding-top: $mainpadding
        padding-bottom: $mainpadding
        img
          max-width: 45px
          padding: 5px
    .skills-box
      display: flex
      flex-direction: column
      justify-content: flex-end
      flex-shrink: 0
      padding-top: $mainpadding
      padding-bottom: $mainpadding
      height: 50%
      max-width: 260px
      margin: 0 auto
      @include bigText
      .skill
        display: flex
        flex-wrap: wrap
        align-items: stretch
        justify-content: space-around
        margin: 0 auto
        height: 100%
        padding-top: $mainpadding
        p
          display: inline
          width: 35%
          padding-bottom: 2px
        progress
          border: 0
          height: 1em
          width: 65%
          color: $mainColor
          padding-bottom: 2px
          &::-webkit-progress-bar
            background: rgba(26, 188, 156, 0.2)
            appearance: none
          &::-webkit-progress-value
            background: $mainColor
          &::-moz-progress-bar
            background: rgba(26, 188, 156, 1)
          &::-moz-progress-value
            background: $mainColor
  .middle-box
      display: flex
      position: relative
      justify-content: flex-end
      align-items: flex-end
      z-index: 3
      color: white
      float: right
      width: 67%
      // ---------------------------small height queries
      @include smallH
        align-items: flex-start
        padding-top: $mainpadding
      // ------------------------------small size queries
      @include xsTablet
        height: 100%
        width: 100%
        padding-top: $mainpadding
        background:
          image: url(../images/work.png)
          repeat: no-repeat
          size: 80% auto
          //----------------------------tablet size queries
      @include tablet
        width: 50%
        //----------------adding svg images
      @include svg
      //----------------hide svg img when there is no-room
      @include hideImg
      .middle-content
        display: flex
        justify-content: flex-end
        align-items: flex-end
        padding-bottom: $mainpadding
        padding-right: $mainpadding
        @include xsTablet
          height: 100%
        @include phone
          display: flex
          flex-direction: column
          align-items: flex-start
          justify-content: flex-start
          height: 100%
          width: 100%
          padding-top: $mainpadding
        @include tablet
          h4
            font-size: 110%
        .headers
          padding-right: $mainpadding
          padding-left: $mainpadding
          padding-bottom: 5px
          @include smallH
            padding-top: 5px
          @include tablet
            .bigText
              font-size: 125%
          @include phone
            display: flex
            width: 100%
            align-items: flex-start
            flex-direction: column
            padding: $mainpadding 0
        .texts
        @include bigText
        @include phone
          padding-left: $mainpadding
        .sm
          letter-spacing: 1px
        .desc
          max-height: 100%
          padding-left: $mainpadding
          @include phone
            width: 100%
            padding-left: $mainpadding
        .work
          border-left: 4px solid $accentColor
        .learn
          border-left: 4px solid #F1AF16
        .additional
          border-left: 4px solid #183F5F
