/*compile style.css*/
html, body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  width: 100%;
  color: #3d3d3d;
}

h4 {
  font-size: 145%;
  transition: font-size .25s linear;
}

p {
  font-size: 105%;
  transition: font-size .25s linear;
}

.main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #1abc9c;
}

@media (max-height: 760px) and (max-width: 1099px) {
  .main .popup-image {
    display: none;
    height: 0;
  }
}

.main .left-content {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 33%;
  min-width: 275px;
  height: 100vh;
  transition: width .5s linear;
  background: #f6f6f6;
  z-index: 0;
  overflow: auto;
  -ms-overflow-style: none;
}

@media (max-height: 450px) {
  .main .left-content {
    height: 100vh;
  }
}

@media (min-width: 950px) and (max-width: 1099px) {
  .main .left-content {
    width: 50%;
    height: 100vh;
  }
}

@media (min-width: 580px) and (max-width: 949px) {
  .main .left-content {
    width: 100%;
    height: 100vh;
  }
}

@media (max-width: 579px) and (min-width: 0) {
  .main .left-content {
    width: 100%;
    height: 100vh;
  }
}

.main .left-content::-webkit-scrollbar {
  display: none;
}

.main .left-content .holder {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-shrink: 0;
  padding-top: 20px;
  margin-bottom: 20px;
  margin: 0 auto;
  max-width: 260px;
  min-height: 300px;
}

.main .left-content .holder .profile {
  display: flex;
  align-items: center;
  flex-shrink: 1;
  padding-top: 20px;
  max-width: 60%;
  max-height: 60%;
}

.main .left-content .holder .profile img {
  display: flex;
  max-width: 100%;
}

.main .left-content .holder .name {
  padding-top: 20px;
  padding-bottom: 40px;
}

.main .left-content .holder .bigText {
  height: 20px;
  font-weight: 100;
  font-size: 175%;
  transition: font-size .25s linear;
}

.main .left-content .holder .bolder {
  font-weight: 300;
}

.main .left-content .holder .email {
  line-height: 13px;
  color: #e64e3d;
  font-weight: 300;
  font-size: 120%;
}

.main .left-content .holder .social {
  display: flex;
  flex-direction: row;
  max-width: 90%;
  height: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.main .left-content .holder .social img {
  max-width: 45px;
  padding: 5px;
  transition: all 0.3s ease;
}

.main .left-content .holder .social img:hover {
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
}

.main .left-content .skills-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-shrink: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
  height: 50%;
  max-width: 260px;
}

.main .left-content .skills-box .bigText {
  height: 20px;
  font-weight: 100;
  font-size: 175%;
  transition: font-size .25s linear;
}

.main .left-content .skills-box .bolder {
  font-weight: 300;
}

.main .left-content .skills-box .skill {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-around;
  margin: 0 auto;
  height: 100%;
  padding-top: 20px;
}

.main .left-content .skills-box .skill p {
  display: inline;
  width: 35%;
  font-size: 90%;
}

.main .left-content .skills-box .skill progress {
  border: 0;
  height: 1em;
  width: 65%;
  color: #1abc9c;
  margin-top: 3px;
}

.main .left-content .skills-box .skill progress::-webkit-progress-bar {
  background: rgba(26, 188, 156, 0.2);
  appearance: none;
}

.main .left-content .skills-box .skill progress::-webkit-progress-value {
  background: #1abc9c;
}

.main .left-content .skills-box .skill progress::-moz-progress-bar {
  background: #1abc9c;
}

.main .left-content .skills-box .skill progress::-moz-progress-value {
  background: #1abc9c;
}

.main .middle-box {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  z-index: 3;
  float: right;
  color: #f6f6f6;
  width: 67%;
}

@media (max-height: 450px) {
  .main .middle-box {
    align-items: flex-start;
    padding-top: 20px;
  }
}

@media (min-width: 580px) and (max-width: 949px) {
  .main .middle-box {
    height: 100%;
    width: 100%;
    padding-top: 20px;
    background-image: url(../images/work.png);
    background-repeat: no-repeat;
    background-size: 80% auto;
  }
}

@media (min-width: 950px) and (max-width: 1099px) {
  .main .middle-box {
    background-image: url(../images/work.png);
    background-repeat: no-repeat;
    background-size: 120% auto;
  }
}

@media (min-width: 950px) and (max-width: 1099px) {
  .main .middle-box {
    width: 50%;
  }
}

.main .middle-box .popup-image {
  z-index: 3;
  position: absolute;
  max-width: 100%;
  min-width: 100%;
  top: 0;
  right: 0;
}

.main .middle-box .popup-image .wrapper {
  position: relative;
  min-width: 400px;
  min-height: 700px;
}

.main .middle-box .popup-image .wrapper #note {
  position: absolute;
  max-width: 20%;
  min-width: 170px;
  left: -10%;
  bottom: 5%;
}

.main .middle-box .popup-image .wrapper #ruler {
  position: absolute;
  top: 40%;
  left: 19%;
  max-width: 7%;
  min-width: 67px;
}

@media (max-width: 1550px) {
  .main .middle-box .popup-image .wrapper #ruler {
    display: none;
  }
}

.main .middle-box .popup-image .wrapper #comp {
  position: absolute;
  right: 25%;
  top: 10%;
  max-width: 52%;
  min-width: 450px;
}

.main .middle-box .popup-image .wrapper #cup {
  position: absolute;
  max-width: 20%;
  left: 30%;
  top: 43%;
}

@media (max-width: 1400px) {
  .main .middle-box .popup-image .wrapper #cup {
    max-width: 20%;
    top: 37%;
    left: 25%;
  }
}

@media (max-width: 579px) and (min-width: 0) {
  .main .middle-box .popup-image {
    display: none;
    height: 0;
  }
}

@media (min-width: 950px) and (max-width: 1099px) {
  .main .middle-box .popup-image {
    display: none;
    height: 0;
  }
}

@media (min-width: 580px) and (max-width: 949px) {
  .main .middle-box .popup-image {
    display: none;
    height: 0;
  }
}

@media (max-height: 450px) {
  .main .middle-box .popup-image {
    display: none;
    height: 0;
  }
}

.main .middle-box .middle-content {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 20px;
  padding-right: 20px;
}

@media (min-width: 580px) and (max-width: 949px) {
  .main .middle-box .middle-content {
    height: 100%;
  }
}

@media (max-width: 579px) and (min-width: 0) {
  .main .middle-box .middle-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    padding-top: 20px;
  }
}

@media (min-width: 950px) and (max-width: 1099px) {
  .main .middle-box .middle-content h4 {
    font-size: 110%;
  }
}

.main .middle-box .middle-content .headers {
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 5px;
}

@media (max-height: 450px) {
  .main .middle-box .middle-content .headers {
    padding-top: 5px;
  }
}

@media (min-width: 950px) and (max-width: 1099px) {
  .main .middle-box .middle-content .headers .bigText {
    font-size: 125%;
  }
}

@media (max-width: 579px) and (min-width: 0) {
  .main .middle-box .middle-content .headers {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    padding: 20px 0;
  }
}

.main .middle-box .middle-content .bigText {
  height: 20px;
  font-weight: 100;
  font-size: 175%;
  transition: font-size .25s linear;
}

.main .middle-box .middle-content .bolder {
  font-weight: 300;
}

@media (max-width: 579px) and (min-width: 0) {
  .main .middle-box .middle-content {
    padding-left: 20px;
  }
}

.main .middle-box .middle-content .sm {
  letter-spacing: 1px;
}

.main .middle-box .middle-content .desc {
  max-height: 100%;
  padding-left: 20px;
}

@media (max-width: 579px) and (min-width: 0) {
  .main .middle-box .middle-content .desc {
    width: 100%;
    padding-left: 20px;
  }
}

.main .middle-box .middle-content .work {
  border-left: 4px solid #e64e3d;
}

.main .middle-box .middle-content .learn {
  border-left: 4px solid #F1AF16;
}

.main .middle-box .middle-content .additional {
  border-left: 4px solid #183F5F;
}
