/*compile style.css*/
html, body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  width: 100%;
}

h4 {
  font-size: 145%;
  transition: font-size .25s linear;
}

p {
  font-size: 105%;
  transition: font-size .25s linear;
}

.main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #1abc9c;
}

.main {
  overflow: auto;
}

.main .left-content {
  z-index: 0;
  width: 33%;
  transition: width .5s linear;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  min-width: 275px;
  background: #f6f6f6;
  height: 100vh;
  overflow-y: auto;
  -ms-overflow-style: none;
}

@media (max-height: 450px) {
  .main .left-content {
    height: 100%;
  }
}

@media (min-width: 950px) and (max-width: 1099px) {
  .main .left-content {
    width: 50%;
  }
}

@media (min-width: 580px) and (max-width: 949px) {
  .main .left-content {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 579px) {
  .main .left-content {
    width: 100%;
    height: 100%;
  }
}

.main .left-content::-webkit-scrollbar {
  display: none;
}

.main .left-content .holder {
  padding-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  flex-shrink: 0;
  max-width: 260px;
  min-height: 300px;
}

.main .left-content .holder .profile {
  max-width: 200px;
  max-height: 200px;
}

.main .left-content .holder .name {
  padding-top: 20px;
  padding-bottom: 40px;
}

.main .left-content .holder .bigText {
  height: 20px;
  font-weight: 100;
  font-size: 175%;
  transition: font-size .25s linear;
}

.main .left-content .holder .bolder {
  font-weight: 300;
}

.main .left-content .holder .email {
  line-height: 13px;
  color: #e64e3d;
  font-weight: 300;
  font-size: 120%;
}

.main .left-content .holder .social {
  flex-direction: row;
  max-width: 60%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.main .left-content .holder .social img {
  max-width: 45px;
  padding: 5px;
}

.main .left-content .skills-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-shrink: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 50%;
  max-width: 260px;
  margin: 0 auto;
}

.main .left-content .skills-box .bigText {
  height: 20px;
  font-weight: 100;
  font-size: 175%;
  transition: font-size .25s linear;
}

.main .left-content .skills-box .bolder {
  font-weight: 300;
}

.main .left-content .skills-box .skill {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-around;
  margin: 0 auto;
  height: 100%;
  padding-top: 20px;
}

.main .left-content .skills-box .skill p {
  display: inline;
  width: 35%;
  padding-bottom: 2px;
}

.main .left-content .skills-box .skill progress {
  border: 0;
  height: 1em;
  width: 65%;
  color: #1abc9c;
  padding-bottom: 2px;
}

.main .left-content .skills-box .skill progress::-webkit-progress-bar {
  background: rgba(26, 188, 156, 0.2);
  appearance: none;
}

.main .left-content .skills-box .skill progress::-webkit-progress-value {
  background: #1abc9c;
}

.main .left-content .skills-box .skill progress::-moz-progress-bar {
  background: #1abc9c;
}

.main .left-content .skills-box .skill progress::-moz-progress-value {
  background: #1abc9c;
}

.main .middle-box {
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 3;
  color: white;
  float: right;
  width: 67%;
}

@media (max-height: 450px) {
  .main .middle-box {
    align-items: flex-start;
    padding-top: 20px;
  }
  .main .middle-box .popup-image {
    display: none;
    height: 0;
  }
}

@media (min-width: 580px) and (max-width: 949px) {
  .main .middle-box {
    height: 100%;
    background-image: url(../images/work.png);
    background-repeat: no-repeat;
    background-size: 80% auto;
  }
  .main .middle-box .popup-image {
    display: none;
    height: 0;
  }
}

@media (min-width: 950px) and (max-width: 1099px) {
  .main .middle-box {
    width: 50%;
  }
}

@media (min-width: 580px) and (max-width: 949px) {
  .main .middle-box {
    width: 100%;
    height: 100%;
    padding-top: 20px;
  }
}

.main .middle-box .popup-image {
  z-index: 3;
  position: absolute;
  max-width: 100%;
  min-width: 100%;
  top: 0;
  right: 0;
}

.main .middle-box .popup-image .wrapper {
  position: relative;
  min-width: 400px;
  min-height: 700px;
}

@media (min-width: 950px) and (max-width: 1099px) {
  .main .middle-box .popup-image .wrapper {
    max-width: 450px;
    max-height: 450px;
    min-width: 400px;
    min-height: 400px;
  }
}

.main .middle-box .popup-image .wrapper #note {
  position: absolute;
  max-width: 25%;
  min-width: 192px;
  left: -10%;
  bottom: 20%;
}

@media (min-width: 950px) and (max-width: 1099px) {
  .main .middle-box .popup-image .wrapper #note {
    max-width: 22%;
    min-width: 192px;
    left: -10%;
    bottom: -30%;
  }
}

.main .middle-box .popup-image .wrapper #ruler {
  position: absolute;
  top: 35%;
  left: 15%;
  max-width: 8%;
  min-width: 67px;
}

@media (min-width: 950px) and (max-width: 1099px) {
  .main .middle-box .popup-image .wrapper #ruler {
    top: 20%;
    left: 25%;
    max-width: 3%;
  }
}

.main .middle-box .popup-image .wrapper #comp {
  position: absolute;
  right: 25%;
  top: 10%;
  max-width: 52%;
  min-width: 450px;
}

@media (min-width: 950px) and (max-width: 1099px) {
  .main .middle-box .popup-image .wrapper #comp {
    top: 0;
    right: -15%;
    max-width: 45%;
    min-width: 350px;
  }
}

.main .middle-box .popup-image .wrapper #cup {
  position: absolute;
  width: 90px;
  max-width: 20%;
  left: 28%;
  top: 38%;
}

@media (min-width: 950px) and (max-width: 1099px) {
  .main .middle-box .popup-image .wrapper #cup {
    width: 65px;
    max-width: 20%;
    left: 45%;
    top: 35%;
  }
}

.main .middle-box .middle-content {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 20px;
  padding-right: 20px;
}

@media (min-width: 580px) and (max-width: 949px) {
  .main .middle-box .middle-content {
    height: 100%;
  }
}

@media (max-width: 579px) {
  .main .middle-box .middle-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    padding-top: 20px;
  }
}

@media (min-width: 950px) and (max-width: 1099px) {
  .main .middle-box .middle-content h4 {
    font-size: 110%;
  }
}

.main .middle-box .middle-content .headers {
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 5px;
}

@media (max-height: 450px) {
  .main .middle-box .middle-content .headers {
    padding-top: 5px;
  }
}

@media (min-width: 950px) and (max-width: 1099px) {
  .main .middle-box .middle-content .headers .bigText {
    font-size: 125%;
  }
}

@media (max-width: 579px) {
  .main .middle-box .middle-content .headers {
    display: flex;
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px 0;
  }
}

.main .middle-box .middle-content .bigText {
  height: 20px;
  font-weight: 100;
  font-size: 175%;
  transition: font-size .25s linear;
}

.main .middle-box .middle-content .bolder {
  font-weight: 300;
}

@media (max-width: 579px) {
  .main .middle-box .middle-content {
    padding-left: 20px;
  }
}

.main .middle-box .middle-content .sm {
  letter-spacing: 1px;
}

.main .middle-box .middle-content .desc {
  max-height: 100%;
  padding-left: 20px;
}

@media (max-width: 579px) {
  .main .middle-box .middle-content .desc {
    width: 100%;
    padding-left: 20px;
  }
}

.main .middle-box .middle-content .work {
  border-left: 4px solid #e64e3d;
}

.main .middle-box .middle-content .learn {
  border-left: 4px solid #F1AF16;
}

.main .middle-box .middle-content .additional {
  border-left: 4px solid #183F5F;
}
